img {
  border-radius: 10px;
  width: 200px;
  box-shadow: 0px 0px 7px rgb(255, 255, 255);
}

html {
  padding: 0;
  margin: 0;
  background-image: url('assets/home.png');
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-around;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.upper,
.middle,
.bottom {
  display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: center;
}

.ancient {
  width: 200px;
}

.difficulty {
  width: 95px;
  background-color: rgba(235, 146, 111, 0.315);
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  font-size: 17px;
  font-weight: 700;
  box-shadow: 0px 0px 7px rgb(255, 255, 255);
}

.difficulty:hover,
.deck:hover,
.ancient:hover {
  cursor: pointer;
}

.shuffle {
  background-color: rgba(127, 255, 212, 0.329);
}

.shuffle:active {
  box-shadow: 0px 0px 10px rgb(248, 1, 1);
}

.deck:active {
  box-shadow: 0px 0px 10px rgb(248, 1, 1);
}

.card-filler {
  width: 200px;
  height: 294px;
  background-color: rgba(187, 214, 204, 0.2);
  border-radius: 10px;
}

.active {
  box-shadow: 0px 0px 10px rgb(248, 1, 1);
}

.open {
  box-shadow: 0px 0px 5px rgb(255, 255, 255);
}

.deck-count {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.stage {
  display: flex;
  gap: 1rem;
}

.green1,
.green2,
.green3 {
  background-color: rgba(0, 128, 0, 0.568);
}

.brown1,
.brown2,
.brown3 {
  background-color: rgba(165, 42, 42, 0.562);
}

.blue1,
.blue2,
.blue3 {
  background-color: rgba(0, 0, 255, 0.562);
}

.color {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
  font-size: 20px;
  width: 30px;
  height: 30px;
}
